body,html{
  margin:0;
  padding:0;
  height: 100%;
  background-color: rgb(246, 242, 227);
  color: black;
}
#root{
  display:contents;
}

.header{
  text-align: left;
  padding-left:5px;
  background-color: white;
  border-bottom:5px solid rgb(255, 172, 7);
  box-shadow: 1px 1px 5px rgb(255, 172, 7);
}
.header h2,p{
  margin:2px;
  padding:2px;
  
}

mark.yellow{
  color:rgb(255, 172, 7);
  background: none;
}
